USE [master]
GO
/****** Object:  Database [Assignment_PRJ]    Script Date: 4/8/2024 3:06:28 AM ******/
CREATE DATABASE [Assignment_PRJ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Assignment_PRJ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Assignment_PRJ.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Assignment_PRJ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Assignment_PRJ_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Assignment_PRJ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Assignment_PRJ]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 4/8/2024 3:06:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[accountid] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](250) NULL,
	[password] [nvarchar](250) NULL,
	[fullname] [nvarchar](250) NULL,
	[phone] [nvarchar](250) NULL,
	[address] [nvarchar](250) NULL,
	[gender] [int] NULL,
	[email] [nvarchar](250) NULL,
	[role] [int] NULL,
	[avatar] [nvarchar](250) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[accountid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 4/8/2024 3:06:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[accountid] [int] NULL,
	[productid] [int] NULL,
	[quantity] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 4/8/2024 3:06:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryid] [int] IDENTITY(1,1) NOT NULL,
	[categoryname] [nvarchar](250) NULL,
 CONSTRAINT [PK_Table1] PRIMARY KEY CLUSTERED 
(
	[categoryid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 4/8/2024 3:06:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[orderid] [int] IDENTITY(1,1) NOT NULL,
	[accountid] [int] NULL,
	[total_money] [float] NULL,
	[name] [nvarchar](250) NULL,
	[address] [nvarchar](250) NULL,
	[phone] [nvarchar](250) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[orderid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Detail]    Script Date: 4/8/2024 3:06:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Detail](
	[orderdetailid] [int] IDENTITY(1,1) NOT NULL,
	[orderid] [int] NOT NULL,
	[productid] [int] NOT NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK_Order_Detail] PRIMARY KEY CLUSTERED 
(
	[orderdetailid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 4/8/2024 3:06:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[productid] [int] IDENTITY(1,1) NOT NULL,
	[productname] [nvarchar](250) NULL,
	[categoryid] [int] NOT NULL,
	[price] [float] NULL,
	[quantity] [int] NULL,
	[image] [nvarchar](250) NULL,
	[description] [nvarchar](250) NULL,
	[sold_quantity] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[productid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([accountid], [username], [password], [fullname], [phone], [address], [gender], [email], [role], [avatar]) VALUES (1, N'tinhadmin', N'123', N'Nghiem Xuan Tinh', N'098888888', N'ha tay', 0, N'tinhadmin@gmail.com', 0, N'admin.jpg')
INSERT [dbo].[Account] ([accountid], [username], [password], [fullname], [phone], [address], [gender], [email], [role], [avatar]) VALUES (3, N'tinhhaha', N'123', N'nnt', N'123456789', N'ha noi', 0, N'tinhnxhe170518@fpt.edu.vn', 0, N'guest.png')
INSERT [dbo].[Account] ([accountid], [username], [password], [fullname], [phone], [address], [gender], [email], [role], [avatar]) VALUES (4, N'hoilamhi', N'123', N'fgđg', N'012545555', N'thuong tin', 1, N'nonohehe@gmail.com', 1, N'guest.png')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
INSERT [dbo].[Cart] ([accountid], [productid], [quantity]) VALUES (1, 12, 1)
INSERT [dbo].[Cart] ([accountid], [productid], [quantity]) VALUES (3, 13, 1)
INSERT [dbo].[Cart] ([accountid], [productid], [quantity]) VALUES (6, 13, 2)
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([categoryid], [categoryname]) VALUES (3, N'Nike')
INSERT [dbo].[Category] ([categoryid], [categoryname]) VALUES (4, N'Adidas')
INSERT [dbo].[Category] ([categoryid], [categoryname]) VALUES (5, N'Puma')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([orderid], [accountid], [total_money], [name], [address], [phone]) VALUES (1, 1, 3500, N'truong', N'hoa lac', N'0123456789')
INSERT [dbo].[Order] ([orderid], [accountid], [total_money], [name], [address], [phone]) VALUES (2, 1, 3000, N'truong', N'hoa lac', N'0123456789')
INSERT [dbo].[Order] ([orderid], [accountid], [total_money], [name], [address], [phone]) VALUES (3, 1, 3000, N'truong', N'hoa lac', N'0123456789')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Detail] ON 

INSERT [dbo].[Order_Detail] ([orderdetailid], [orderid], [productid], [quantity]) VALUES (1, 1, 9, 7)
INSERT [dbo].[Order_Detail] ([orderdetailid], [orderid], [productid], [quantity]) VALUES (2, 2, 9, 6)
INSERT [dbo].[Order_Detail] ([orderdetailid], [orderid], [productid], [quantity]) VALUES (3, 3, 9, 6)
SET IDENTITY_INSERT [dbo].[Order_Detail] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([productid], [productname], [categoryid], [price], [quantity], [image], [description], [sold_quantity]) VALUES (9, N'Nike pro24', 3, 500, 58, N'nikeairforce1.jpg', N'Good', 42)
INSERT [dbo].[Product] ([productid], [productname], [categoryid], [price], [quantity], [image], [description], [sold_quantity]) VALUES (12, N'Nike Air Force 1 ''07', 3, 1000, 78, N'giay-nike-air-force-1-low-07-lv8-40th-anniversary-white-black-dq7658-100-63aa63ad5f659-27122022101701.jpg', N'Very Good', 22)
INSERT [dbo].[Product] ([productid], [productname], [categoryid], [price], [quantity], [image], [description], [sold_quantity]) VALUES (13, N'Nike Revolution 6', 3, 1200, 32, N'dd1096-600_0_448acea668564b9aa2b7a878e092280a_859744cec254437291827a9046964966_grande.jpg', N'Good', 49)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Account] FOREIGN KEY([accountid])
REFERENCES [dbo].[Account] ([accountid])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Account]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Product] FOREIGN KEY([productid])
REFERENCES [dbo].[Product] ([productid])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Product]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([accountid])
REFERENCES [dbo].[Account] ([accountid])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Account]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK_Order_Detail_Order1] FOREIGN KEY([orderid])
REFERENCES [dbo].[Order] ([orderid])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FK_Order_Detail_Order1]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK_Order_Detail_Product] FOREIGN KEY([productid])
REFERENCES [dbo].[Product] ([productid])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FK_Order_Detail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([categoryid])
REFERENCES [dbo].[Category] ([categoryid])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
USE [master]
GO
